{% extends 'master.html' %}
{% block title %}Search{% endblock %}
{% block content %}
{% load l10n %}
{% include 'components/navbar.html'%}

{% if stations %}
<h1 class="font-bold text-center text-2xl">{{stations}}</h1>
{% endif %}

{% if stations %}
<iframe width="600"
height="450"
frameborder="0"
style="border:0"
src="https://www.google.com/maps/embed/v1/view?key={{googleapi}}&center={{lat|unlocalize}},{{lng|unlocalize}}&zoom=15"
allowfullscreen class="flex m-auto mt-8"></iframe>
{% endif %}
{% include 'components/footer.html'%}
{% endblock %}