{% extends 'master.html'%}
{% block title %} Station {{station.namen.lang}} {% endblock %}
{% block content %}
{% load l10n %}
{% include 'components/navbar.html'%}
<h1 class="font-bold text-center text-4xl pt-2">{{station.namen.lang}}</h1>

<iframe width="600"
height="450"
frameborder="0"
style="border:0"
src="https://www.google.com/maps/embed/v1/view?key={{googleapi}}&center={{station.lat|unlocalize}},{{station.lng|unlocalize}}&zoom=15"
allowfullscreen class="flex m-auto mt-8"></iframe>
<h1 class="font-bold text-center mt-4">Departures voor {{station.namen.lang}}, {% now "d F Y" %}</h1>
{% include 'components/detail/table.html'%}
{% include 'components/footer.html'%}
{% endblock %}